body {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

h2{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

h3{
    font-size: 24px;
    font-weight: bold;
}

.apartman{
    background-image: url('/assets/img/castle-7462448_1280.jpg');
    background-size: cover;
    height: 65vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: right;
}

.apartman h1 {
    width: 75%;
    max-width: 900px;
    margin: 16px 0 ;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 20px;
    border-radius: 5px;
}

.links{
    display: block;
}

.links ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 28px 0;
    font-size: 20px;
}

.links ul li {
    display: inline;
    padding: 0 16px;
}

.links ul li a{
    text-decoration: none;
    color: black
}

.links ul li a:hover{
    text-decoration: underline;
}

/*Hotel*/
.hotel{
    width: 80rem;
    height: 45rem;
    margin: 0 auto;
    padding: 32px;
    /*background-color: whitesmoke;*/
    border-radius: 15px;
}

.hotel img{
    width: 40rem;
    border-radius: 20px;
    padding: 15px;
    margin-top: -10px;
    float: right;
}

.hotel .icons img{
    height: 2rem;
    width: 2rem;
    float: left;
}

.text{
    clear: left;
    padding-bottom: 55px;
    font-size: 16px; 
}


/*Gallery*/
.gallery{
    
    width: 80rem;
    height: 20rem;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
}

.gallery-photo{
    display:block;    
}

.gallery-photo img{
    width: 22%;
    height: auto;
    border-radius: 20px;
    padding: 15px;
    margin-top: -10px;   
}


/*About*/
.rhodes2 {
    width: 80rem;
    height: 50rem;
    margin: 0 auto;
    padding: 32px;
    /*background-color: antiquewhite;*/
    border-radius: 15px;
    padding-bottom: 150px;
}

.rhodes2 img{
    width: 60%;
    height: 70%;
    float: inline-end;
    border-radius: 20px;
    padding: 15px;
    margin-top: -10px;
}


/*Footer*/

footer{
    display: block;
    padding: 25px;
   }


footer ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 28px 0;
}

footer ul li {
    display: inline;
    padding: 0 16px;
}

@media only screen and (max-width: 1356px){
    .hotel{
        width: 60rem;
    }

    .hotel img{
        width: 35rem;
    }

    .gallery{
        width: 70rem;
        height: 25rem;
        margin: 0 auto;
        text-align: center;
        display: block;
        padding-bottom: 280px;
        padding-top: 150px;
    }
    
    .gallery-photo img{
        width: 40%;
    }

    .rhodes2 {
        width: 60rem;
        height: 30rem;
        padding-top: 150px;
    }

    .rhodes2 img{
        width: 60%;
        height: 90%;
        float: inline-end;
        border-radius: 10px;
        padding: 15px;
        margin-top: -10px;
    }

    footer{
        padding-top: 400px;
       }
}

@media only screen and (max-width: 1017px){
    
    .hotel{
        width: 45rem;
        padding-bottom: 150px;
    }
    

    .hotel img{
        width: 25rem;
    }

    .gallery{
        padding-top: 0px;
        width: 50rem;
        height: 25rem;
        padding-bottom: 190px;
    }

    .gallery-photo img{
        width: 35%;
    }

    .text, p{
        font-size: 14px; 
    }

    .rhodes2{
        width: 45rem;
        height: 20rem;
        padding-top: 0px;
    }
    .rhodes2 img{
        width: 25rem;
        height: 20rem;
        padding: 0
    }

    footer{
        padding-top: 350px;
       }
    
}

@media only screen and (max-width: 785px){
    .hotel{
        width: 45rem;
        padding-bottom: 420px;
    }
    

    .hotel img{
        width: 35rem;
        height: 25rem;
        float:none;
    }

    .hotel .icons img{
        padding-bottom: 25px;
        float: none;
    }
    

    .gallery{
        padding-top: 0px;
        width: 39rem;
        height: 25rem;
        padding-bottom: 0px;
        
    }

    .gallery-photo img{
        width: 35%;
    }

    .text {
        font-size: 14px;
        padding-left: 25px; 
        padding-right: 45px; 
    }

    .rhodes2{
        width: 45rem;
        height: 20rem;
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .rhodes2 img{
        width: 35rem;
        height: 25rem;
        float:none;
    }

    footer{
        padding-top: 600px;
       }
    
}

@media only screen and (max-width: 560px) {
    h2{
        font-size: 25px;
    }

    h3{
        font-size: 18px;
        font-weight: bold;
        margin-left: 15px;
    }

/*Hotel*/

.hotel{
    width: 30rem;
    height: 40rem;

}

.hotel img{
    width: 20rem;
    height: 15rem;
    float: none;
    margin-left: 15px;

}

.hotel .icons img{
    height: 1rem;
    width: 1rem;
    float: top;
    padding: 8px;
    margin-left: 27px;
}

  
/*Gallery*/
.gallery{
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    padding: 32px;

}

.gallery-pthoto{
    display: row;    
}

.gallery-photo img{
    width: 32%;
    height: auto;
}


.rhodes2 {
    width: 30rem;
    height: 50rem;
    margin: 0 auto;
    padding: 32px;
    /*background-color: antiquewhite;*/
    border-radius: 15px;
    padding-bottom: 5px;
}

.rhodes2 img{
    width: auto;
    height: 30%;
    float: none;
    margin-left: 15px;
}  

footer{
    padding-top: 300px;
   }
}