body {
    font-family: "Mukta", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

h1 {
    font-family: "Bitter", sans-serif;
    font-weight: 500;
    font-size: 50px;
}

h2{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    padding: 50px; /**/
}

/*Main page*/
.greece{
    background-image: url('../../assets/img/pexels-pixabay-164041.jpg');
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greece h1 {
    width: 75%;
    max-width: 900px;
    margin: 16px 0 ;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 20px;
    border-radius: 5px
}

.links{
    display: block;
   }

.links ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 28px 0;
    font-size: 25px;
}

.links ul li {
    display: inline;
    padding: 0 16px;
}

.links ul li a{
    text-decoration: none;
    color: black
}

.links ul li a:hover{
    text-decoration: underline;
}

/*Place to stay*/
.apartman{
    margin: 0;

}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    padding-top: 0px;
    padding-bottom: 50px;
    padding-top: 0px; /**/
    padding-bottom: 120px; /**/
}

.picture {
    position: relative;
    padding-top: 50px;
}

.picture img{
    width: 450px;
    height: 650px;
    float: inline-end;
    border-radius: 20px;
    padding: 15px;
}

.picture .overlay{
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    opacity: 0;
    color: #fff;
}

.picture .overlay:hover{
    opacity: 1;
    cursor: pointer;
}

.overlay.black{
    color: #000;
}

/*References*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; /* Nastaví výšku kontajnera na výšku obrazovky */
    padding-top: 20px; /**/
}

.box {
    background-color:aliceblue;
    height: 400px;
    width: 590px;
    margin: 0 10px; 
    overflow:initial;
    box-sizing: border-box;
}

.box img{
    width: 30%;
    height: 60%;
    float: inline-end;
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
}

.box p {
    padding: 25px;
    margin: 0
}

.box .references-name {
    padding: 0 25px;
    text-align: right;
}

/*Footer*/
footer{
    display: block;
    padding-top: 100px; /**/
   }


footer ul {
    list-style: none;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 28px 0;
}

footer ul li {
    display: inline;
    padding: 0 16px;
    
}

@media only screen and (max-width: 1490px){
    /*Place to stay*/
    .place {
        padding-bottom: 40px;
        height: 38vh; 
    }

    .picture img{
        width: 280px;
        height: 450px;
        padding: 10px;
    }
    
    .picture .overlay{
        font-size: 40px;
    }
    
    /*References*/
    .container {
        height: 35vh; 
    }

    .box {
        background-color:aliceblue;
        height: 470px;
        width: 430px;
        margin: 0 10px; 
    }

    .box img{
        width: 35%;
        height: 55%;
    }

    /*Footer*/
    footer{
        padding-top: 55px;
       }
    
}


@media only screen and (max-width: 937px){
  
    h2{
        height: 50px;
        padding-bottom: 25px;
    }

    /*Place to stay*/
    .place{
        flex-direction: row;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .picture img{
        width: 200px;
        height: 350px;
    }

    /*References*/
    .container {
        flex-direction: column;
        gap: 15px ;
        height: 68vh; 
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .box {
        background-color:aliceblue;
        height: 850px;
        width: 530px;
        margin: 0 10px; 
    }

    /*Footer*/
    footer{
        padding-top: 20px;
       }

}

/* MOBILE SIZE BREAKPOINT*/

@media only screen and (max-width: 600px) {
    h1 {
        font-weight: 400;
        font-size: 35px;
    }

    h2{
        font-size: 25px;
        height: 0px;
    }

    .links ul {
        font-size: 18px;
    }

    /*Place to stay*/
    .place{
        flex-direction: column;
        padding: 0px;
        height: 170vh;
    }

    .picture {
        flex-basis: 100%;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }

    .picture img {
        width: auto;
        height: 400px;
        margin-bottom: 500px;
        display: block;
    }

    .picture .overlay{
        font-size: 30px;
    }

    /*References*/
    .container { 
        gap: 15px ;
        height: 87vh; 
        padding-top: 170px;
    }

    .box {
        width: 480px;
    }

    .box p{
        width: 400px;
        margin: 0; 
    }

    .box img{
        width: auto;
        height: 150px;
        flex-direction: row;
        float: none;
        padding-left: 30px;
    }

    .box .references-name {
        display: left;
    }

    /*Footer*/
    footer{
        padding-top: 120px;
    }
}
}
